/* this will add the whole body display to flex column and gives the font family that will be used*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

/* Styling for the main form by setting its border and font size*/
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 3px solid black;
    padding: 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

/* Styling for the Employees heading */
h1 {
    color: black;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
}

/* Positioning the buttons */
.submit{
    display: flex;
    justify-content: flex-end;
}

/* Styling reset and submit button */
input[type=reset], input[type=submit]{
    background-color: #555555;
    color: white;
    padding: 0.7rem;
    border-radius: 7px;
    border: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

/* Styling for experience input field */
input[type=number]{
    width: 34%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


/* Styling for the names fields */
input[type=text]{
    width: 60%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.firstname {
    display: flex;
    align-items: center;
}

.firstname label {
    margin-right: 10px;
}

.lastname {
    display: flex;
    align-items: center;
}

.lastname label {
    margin-right: 10px;
}